* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(res/backg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 13px 20px rgb(84, 84, 84);
    padding-bottom: 25px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

.nav-header-list {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 27px;
}

.nav-header-list > li:hover {
    cursor: pointer;
    border-bottom: black 2px solid;
}

.buy-btn {
    background-color: rgb(87, 63, 63);
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition: .3s;
}

.buy-btn:hover {
    background-color: rgb(140, 28, 28);
}

.info-header {
    font-family: 'Oswald', sans-serif;
    width: 700px;
    margin-top: 90px;
    margin-left: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.info-header > h1 {
    font-size: 70px;
}

.info-header > p {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.mid-h1 {
    text-align: center;
    font-family: "Oswald" , sans-serif;
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 15px;
}

.trap-1 {
    margin-top: 28px;
}

.trap-1-rod {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trap-1-info {
    width: 700px;
}

.trap-1-info > h1 {
    font-family: 'Oswald' , sans-serif;
    font-size: 40px;
}

.trap-1-info > p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 600;
}

.trap-1-foto > img {
    width: 370px;
}

footer {
    height: 40px;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 36px;
}

footer > p {
    padding-top: 13px;
}